
.buttons
  align-items: center
  display: flex
  gap: 8px

.button
  align-items: center
  background: none
  border: 1px solid transparent
  border-radius: var(--radius)
  color: currentColor
  cursor: pointer
  display: inline-flex
  gap: 8px
  padding: 8px 16px
  text-decoration: none
  transition: all .3s ease

  &.outline
    border-color: currentColor

  &.primary
    background: var(--primary)
    color: var(--background)

  &.large
    padding: 16px 24px

  &.outline-on-hover:hover
    background: none
    border-color: currentColor
    color: var(--text)
