<nav>
  <div class="logo">
    <img src="/assets/logo.png" alt="Logo" />
    <span>Your Site Name</span>
  </div>

  <ul>
    <li>
      <a
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/"
        routerLinkActive="active"
        class="button"
        >Home</a
      >
    </li>

    <li>
      <a routerLink="/solutions" routerLinkActive="active" class="button"
        >Solutions</a
      >
    </li>

    <li>
      <a routerLink="/vision" routerLinkActive="active" class="button"
        >Vision</a
      >
    </li>

    <li>
      <a routerLink="/blog" routerLinkActive="active" class="button">Blog</a>
    </li>

    <li>
      <a routerLink="/" routerLinkActive="active" class="button outline"
        >Get Started</a
      >
    </li>
  </ul>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div class="column">
    <div class="logo">
      <img src="/assets/logo-color.png" alt="Logo" />
      <span>Your Site Name</span>
    </div>

    <a href="tel:021-123456789">021-123456789</a>
    <a href="mailto:Info@mysite.com​​​​​​​">Info@mysite.com​​​​​​​</a>
    <span>Tehran, Your address here...</span>
  </div>

  <div class="column">
    <a
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
      routerLink="/"
      >Home</a
    >
    <a routerLinkActive="active" routerLink="/solutions">Solutions</a>
    <a routerLinkActive="active" routerLink="/vision">Vision</a>
    <a routerLinkActive="active" routerLink="/blog">Blog</a>
    <a
      routerLinkActive="active"
      routerLink="/"
      class="button primary large outline-on-hover"
      >Get Started</a
    >
  </div>

  <div class="column newsletter">
    <p>Subscribe to Our Newsletter</p>

    <div class="field">
      <label for="newsletter-email">*Email</label>
      <input id="newsletter-email" type="email" />
    </div>

    <button href="#" class="button outline large">Submit</button>
  </div>

  <div class="column">
    <p>Follow Us On:</p>

    <div class="social-links buttons">
      <a
        *ngFor="let socialLink of socialLinks; trackBy: trackByName"
        [routerLink]="socialLink.link"
        [title]="socialLink.name"
        routerLinkActive="active"
      >
        <svg class="icon">
          <use [attr.href]="'#' + socialLink.icon" />
        </svg>
      </a>
    </div>

    <p>© Your company Name.</p>
    <p>All rights reserved.</p>
  </div>
</footer>
