<nav>
  <div class="logo">
    <img src="/assets/logo.png" alt="Logo" />
    <span>Your Site Name</span>
  </div>

  <ul>
    <li>
      <a routerLink="/" class="button">Home</a>
    </li>

    <li>
      <a routerLink="/" class="button">Solutions</a>
    </li>

    <li>
      <a routerLink="/" class="button">Vision</a>
    </li>

    <li>
      <a routerLink="/" class="button">Blog</a>
    </li>

    <li>
      <a routerLink="/" class="button outline">Get Started</a>
    </li>
  </ul>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
