<!-- header -->
<section class="header">
  <h1>The New Standard in Data Analysis</h1>

  <p>Use Data to Get a 360-Degree View of Your Business</p>

  <div class="buttons">
    <a href="#" class="button">Learn More</a>
  </div>
</section>

<section class="features">
  <div class="container">
    <div class="details">
      <strong>Let Your Data Take Your Business to Higher Grounds</strong>

      <p>
        I'm a paragraph. Click here to add your own text and edit me. It’s easy.
        Just click “Edit Text” or double click me to add your own content and
        make changes to the font.
      </p>
    </div>

    <div class="cards">
      <div class="grid">
        <div class="card">
          <img src="/assets/cloud.png" alt="Cloud Analytics Modernization" />

          <strong>Cloud Analytics Modernization</strong>

          <p>
            I'm a paragraph. Click here to add your own text and edit me. Let
            your users get to know you.
          </p>
        </div>

        <div class="card">
          <img
            src="/assets/acceleration.png"
            alt="Data Science Acceleration​​​​​​​"
          />

          <strong>Data Science Acceleration​​​​​​​</strong>

          <p>
            I'm a paragraph. Click here to add your own text and edit me. Let
            your users get to know you.
          </p>
        </div>

        <div class="card">
          <img
            src="/assets/versitality.png"
            alt="Versatility in Application​​​​​​​"
          />

          <strong>Versatility in Application​​​​​​​</strong>

          <p>
            I'm a paragraph. Click here to add your own text and edit me. Let
            your users get to know you.
          </p>
        </div>

        <div class="card">
          <img
            src="/assets/customer.png"
            alt="Full Customer Experience Service​"
          />

          <strong>Full Customer Experience Service​</strong>

          <p>
            I'm a paragraph. Click here to add your own text and edit me. Let
            your users get to know you.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
