<!-- header -->
<section class="header">
  <h1 animate="translate-in">The New Standard in Data Analysis</h1>

  <p [delay]="0.2" animate="translate-in">
    Use Data to Get a 360-Degree View of Your Business
  </p>

  <div [delay]="0.4" animate="translate-in" class="buttons">
    <a href="#" class="button primary large outline-on-hover">Learn More</a>
  </div>
</section>

<!-- features -->
<section class="features">
  <div class="container">
    <div class="details">
      <strong animate="clip-in"
        >Let Your Data Take Your Business to Higher Grounds</strong
      >

      <p [delay]="0.2" animate="clip-in">
        I'm a paragraph. Click here to add your own text and edit me. It’s easy.
        Just click “Edit Text” or double click me to add your own content and
        make changes to the font.
      </p>
    </div>

    <div class="cards">
      <div class="grid">
        <div
          *ngFor="let card of cards; trackBy: trackByTitle; let i = index"
          class="card"
        >
          <img [src]="card.image" [alt]="card.title" animate="clip-in" />

          <strong [delay]="0.2" animate="clip-in">{{ card.title }}</strong>

          <p [delay]="0.4" animate="translate-in">{{ card.details }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- articles -->
<section class="articles">
  <article>
    <div class="image">
      <strong animate="fade-in">
        Unprecedented Velocity. Impeccable Reliability.​​​​​​​
      </strong>
    </div>

    <div class="content">
      <p [delay]="0.2" animate="translate-in">
        I'm a paragraph. Click here to add your own text and edit me. It’s easy.
        Just click “Edit Text” or double click me to add your own content and
        make changes to the font. Feel free to drag and drop me anywhere you
        like on your page. I’m a great place for you to tell a story and let
        your users know a little more about you.
      </p>

      <p [delay]="0.4" animate="translate-in">
        ​​​​​​​​​​​​​​This is a great space to write a long text about your
        company and your services. You can use this space to go into a little
        more detail about your company. Talk about your team and what services
        you provide. Tell your visitors the story of how you came up with the
        idea for your business and what makes you different from your
        competitors. Make your company stand out and show your visitors who you
        are.
      </p>

      <div [delay]="0.6" animate="translate-in" class="buttons">
        <a href="" class="button primary large outline-on-hover">Learn More</a>
      </div>
    </div>
  </article>
</section>

<!-- analytics -->
<section class="analytics">
  <strong>We Take Pride in Our Numbers</strong>

  <div class="cards">
    <div
      *ngFor="let card of analyticCards; trackBy: trackByTitle; let i = index"
      [delay]="i * 0.2"
      animate="translate-in"
      class="card"
    >
      <strong animate="translate-in">{{ card.value }}</strong>
      <small animate="translate-in">{{ card.title }}</small>
    </div>
  </div>
</section>

<!-- partners -->
<section class="partners">
  <div class="container">
    <div class="cell">
      <strong>Our Partners</strong>
    </div>

    <div class="cell">
      <img src="/assets/partner1.png" alt="Partner" />
    </div>

    <div class="cell">
      <img src="/assets/partner2.png" alt="Partner" />
    </div>

    <div class="cell">
      <img src="/assets/partner3.png" alt="Partner" />
    </div>

    <div class="cell">
      <img src="/assets/partner4.png" alt="Partner" />
    </div>
  </div>
</section>

<!-- articles -->
<section class="articles">
  <article>
    <div
      [style.--article-image]="'url(/assets/background5.jpg)'"
      animate="fade-in"
      class="image blob"
    >
      <strong> Unprecedented Velocity. Impeccable Reliability.​​​​​​​ </strong>
    </div>

    <div class="content">
      <p animate="translate-in">
        I'm a paragraph. Click here to add your own text and edit me. It’s easy.
        Just click “Edit Text” or double click me to add your own content and
        make changes to the font. Feel free to drag and drop me anywhere you
        like on your page. I’m a great place for you to tell a story and let
        your users know a little more about you.
      </p>

      <div [delay]="0.2" animate="translate-in" class="buttons">
        <a href="" class="button primary large outline-on-hover">Learn More</a>
      </div>
    </div>
  </article>
</section>
