<!-- header -->
<section class="header">
  <h1>The New Standard in Data Analysis</h1>

  <p>Use Data to Get a 360-Degree View of Your Business</p>

  <div class="buttons">
    <a href="#" class="button primary large">Learn More</a>
  </div>
</section>

<!-- features -->
<section class="features">
  <div class="container">
    <div class="details">
      <strong>Let Your Data Take Your Business to Higher Grounds</strong>

      <p>
        I'm a paragraph. Click here to add your own text and edit me. It’s easy.
        Just click “Edit Text” or double click me to add your own content and
        make changes to the font.
      </p>
    </div>

    <div class="cards">
      <div class="grid">
        <div class="card">
          <img src="/assets/cloud.png" alt="Cloud Analytics Modernization" />

          <strong>Cloud Analytics Modernization</strong>

          <p>
            I'm a paragraph. Click here to add your own text and edit me. Let
            your users get to know you.
          </p>
        </div>

        <div class="card">
          <img
            src="/assets/acceleration.png"
            alt="Data Science Acceleration​​​​​​​"
          />

          <strong>Data Science Acceleration​​​​​​​</strong>

          <p>
            I'm a paragraph. Click here to add your own text and edit me. Let
            your users get to know you.
          </p>
        </div>

        <div class="card">
          <img
            src="/assets/versitality.png"
            alt="Versatility in Application​​​​​​​"
          />

          <strong>Versatility in Application​​​​​​​</strong>

          <p>
            I'm a paragraph. Click here to add your own text and edit me. Let
            your users get to know you.
          </p>
        </div>

        <div class="card">
          <img
            src="/assets/customer.png"
            alt="Full Customer Experience Service​"
          />

          <strong>Full Customer Experience Service​</strong>

          <p>
            I'm a paragraph. Click here to add your own text and edit me. Let
            your users get to know you.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- article -->
<section class="article">
  <article>
    <div class="image">
      <strong> Unprecedented Velocity. Impeccable Reliability.​​​​​​​ </strong>
    </div>

    <div class="content">
      <p>
        I'm a paragraph. Click here to add your own text and edit me. It’s easy.
        Just click “Edit Text” or double click me to add your own content and
        make changes to the font. Feel free to drag and drop me anywhere you
        like on your page. I’m a great place for you to tell a story and let
        your users know a little more about you.
      </p>

      <p>
        ​​​​​​​​​​​​​​This is a great space to write a long text about your
        company and your services. You can use this space to go into a little
        more detail about your company. Talk about your team and what services
        you provide. Tell your visitors the story of how you came up with the
        idea for your business and what makes you different from your
        competitors. Make your company stand out and show your visitors who you
        are.
      </p>

      <div class="buttons">
        <a href="" class="button primary large">Learn More</a>
      </div>
    </div>
  </article>
</section>

<!-- analytics -->
<section class="analytics">
  <strong>We Take Pride in Our Numbers</strong>

  <div class="cards">
    <div class="card">
      <strong>15</strong>
      <small>Years of Experience</small>
    </div>

    <div class="card">
      <strong>10K</strong>
      <small>Business Partners</small>
    </div>

    <div class="card">
      <strong>25K</strong>
      <small>Products Installed</small>
    </div>

    <div class="card">
      <strong>22</strong>
      <small>Countries World Wide</small>
    </div>

    <div class="card">
      <strong>5</strong>
      <small>Industry Awards</small>
    </div>
  </div>
</section>
